asgiref
django
django-cors-headers
django-rest-framework
djangorestframework
pytz
sqlparse
pillow
python-dateutil
requests
cookiecutter
autopep8
pyrad
pandas
celery
psycopg2
djangorestframework-simplejwt
django-seed
